Repository SELab-2/Dwengo-1, pull requests merged in 2025-05, with the labels that each got.

#245 fix: Opdracht wordt gefetched in originele taal
  frontend/src/views/assignments/StudentAssignment.vue
  frontend/src/views/assignments/TeacherAssignment.vue
Labels: bug, frontend

#244 fix: Small fixes
  frontend/src/components/MenuBar.vue
  frontend/src/views/HomePage.vue
  frontend/src/views/LoginPage.vue
  frontend/src/views/assignments/UserAssignments.vue
  frontend/src/views/homepage/UserHomePage.vue
  frontend/src/views/learning-paths/LearningPathPage.vue
Labels: frontend

#254 fix: Missende vertalingen en uniforme CSS
  frontend/src/assets/common.css
  frontend/src/i18n/locale/de.json
  frontend/src/i18n/locale/en.json
  frontend/src/i18n/locale/fr.json
  frontend/src/i18n/locale/nl.json
  frontend/src/views/HomePage.vue
  frontend/src/views/assignments/CreateAssignment.vue
  frontend/src/views/assignments/UserAssignments.vue
  frontend/src/views/classes/SingleClass.vue
  frontend/src/views/classes/StudentClasses.vue
  frontend/src/views/classes/TeacherClasses.vue
  frontend/src/views/homepage/UserHomePage.vue
Labels: frontend

#243 fix: Zoek kaart en pagina
  frontend/src/components/BrowseThemes.vue
  frontend/src/views/learning-paths/LearningPathSearchPage.vue
Labels: frontend

#258 refactor: Verwijder `/teacher/{username}/questions`
  backend/src/controllers/teachers.ts
  backend/src/data/content/learning-object-repository.ts
  backend/src/routes/teachers.ts
  backend/src/services/teachers.ts
  frontend/src/controllers/teachers.ts
  frontend/src/queries/teachers.ts
Labels: bug, frontend, backend

#255 feat: Assignment deadline
  backend/src/entities/assignments/assignment.entity.ts
  backend/src/interfaces/assignment.ts
  backend/tests/test_assets/assignments/assignments.testdata.ts
  common/src/interfaces/assignment.ts
  frontend/src/components/assignments/DeadlineSelector.vue
  frontend/src/i18n/locale/de.json
  frontend/src/i18n/locale/en.json
  frontend/src/i18n/locale/fr.json
  frontend/src/i18n/locale/nl.json
  frontend/src/views/assignments/CreateAssignment.vue
  frontend/src/views/assignments/UserAssignments.vue
  package-lock.json
Labels: enhancement, frontend

#148 feat: tests voor backend controllers (deel Adriaan)
  backend/src/controllers/submissions.ts
  backend/src/services/students.ts
  backend/tests/controllers/assignments.test.ts
  backend/tests/controllers/classes.test.ts
  backend/tests/controllers/groups.test.ts
  backend/tests/controllers/submissions.test.ts
Labels: backend, tests

#265 fix: Leerpaden voor thema's opvragen in de juiste taal
  frontend/src/controllers/learning-paths.ts
  frontend/src/queries/learning-paths.ts
  frontend/src/views/SingleTheme.vue
  frontend/tests/controllers/learning-paths-controller.test.ts
Labels: bug, frontend

#263 feat: Progess voor leerpaden uit de Dwengo API
  backend/src/services/learning-paths/database-learning-path-provider.ts
  backend/src/services/learning-paths/dwengo-api-learning-path-provider.ts
  backend/src/services/learning-paths/learning-path-personalization-util.ts
Labels: bug, enhancement, backend

#200 feat: Endpoints beschermen met authenticatie
  backend/.env.test
  backend/src/controllers/auth.ts
  backend/src/controllers/teacher-invitations.ts
  backend/src/data/questions/question-repository.ts
  backend/src/interfaces/user.ts
  backend/src/middleware/auth/auth.ts
  backend/src/middleware/auth/authenticated-request.d.ts
  backend/src/middleware/auth/checks/assignment-auth-checks.ts
  backend/src/middleware/auth/checks/auth-checks.ts
  backend/src/middleware/auth/checks/class-auth-checks.ts
  backend/src/middleware/auth/checks/group-auth-checker.ts
  backend/src/middleware/auth/checks/learning-content-auth-checks.ts
  backend/src/middleware/auth/checks/question-checks.ts
  backend/src/middleware/auth/checks/submission-checks.ts
  backend/src/middleware/auth/checks/teacher-invitation-checks.ts
  backend/src/middleware/auth/checks/user-auth-checks.ts
  backend/src/routes/answers.ts
  backend/src/routes/assignments.ts
  backend/src/routes/auth.ts
  backend/src/routes/classes.ts
  backend/src/routes/groups.ts
  backend/src/routes/learning-objects.ts
  backend/src/routes/learning-paths.ts
  backend/src/routes/questions.ts
  backend/src/routes/router.ts
  backend/src/routes/student-join-requests.ts
  backend/src/routes/students.ts
  backend/src/routes/submissions.ts
  backend/src/routes/teacher-invitations.ts
  backend/src/routes/teachers.ts
  backend/src/routes/themes.ts
  backend/src/services/answers.ts
  backend/src/services/groups.ts
  backend/src/services/questions.ts
  backend/src/services/students.ts
  backend/src/services/teacher-invitations.ts
  backend/src/services/teachers.ts
  backend/tests/controllers/teachers.test.ts
  common/src/interfaces/question.ts
  common/src/util/account-types.ts
  docs/api/generate.ts
  frontend/package.json
  frontend/src/components/SingleQuestion.vue
  frontend/src/queries/classes.ts
  frontend/src/queries/students.ts
  frontend/src/views/LoginPage.vue
  frontend/src/views/assignments/CreateAssignment.vue
  frontend/src/views/assignments/SingleAssignment.vue
  frontend/src/views/assignments/UserAssignments.vue
  frontend/src/views/classes/ClassDisplay.vue
  frontend/src/views/classes/SingleClass.vue
  frontend/src/views/classes/StudentClasses.vue
  frontend/src/views/classes/TeacherClasses.vue
  frontend/src/views/classes/UserClasses.vue
  frontend/src/views/learning-paths/LearningPathPage.vue
  frontend/src/views/learning-paths/learning-object/LearningObjectView.vue
  frontend/src/views/learning-paths/learning-object/submissions/SubmitButton.vue
  package-lock.json
Labels: backend

#266 feat: Klaslink met redirect na login
  backend/src/controllers/students.ts
  frontend/src/components/LearningPathSearchField.vue
  frontend/src/components/LearningPathsGrid.vue
  frontend/src/components/MenuBar.vue
  frontend/src/router/index.ts
  frontend/src/utils/redirect.ts
  frontend/src/views/CallbackPage.vue
  frontend/src/views/SingleTheme.vue
  frontend/src/views/classes/StudentClasses.vue
  frontend/src/views/classes/TeacherClasses.vue
  frontend/src/views/learning-paths/LearningPathSearchPage.vue
Labels: enhancement, frontend

#259 feat: Eigen leerpaden en leerobjecten
  backend/package.json
  backend/src/controllers/learning-objects.ts
  backend/src/controllers/learning-paths.ts
  backend/src/data/content/learning-object-repository.ts
  backend/src/data/content/learning-path-repository.ts
  backend/src/entities/content/attachment.entity.ts
  backend/src/entities/content/learning-object.entity.ts
  backend/src/entities/content/learning-path-node.entity.ts
  backend/src/entities/content/learning-path.entity.ts
  backend/src/middleware/auth/checks/learning-object-auth-checks.ts
  backend/src/middleware/auth/checks/learning-path-auth-checks.ts
  backend/src/routes/learning-objects.ts
  backend/src/routes/learning-paths.ts
  backend/src/services/learning-objects/database-learning-object-provider.ts
  backend/src/services/learning-objects/dwengo-api-learning-object-provider.ts
  backend/src/services/learning-objects/learning-object-provider.ts
  backend/src/services/learning-objects/learning-object-service.ts
  backend/src/services/learning-objects/learning-object-zip-processing-service.ts
  backend/src/services/learning-paths/database-learning-path-provider.ts
  backend/src/services/learning-paths/dwengo-api-learning-path-provider.ts
  backend/src/services/learning-paths/learning-path-provider.ts
  backend/src/services/learning-paths/learning-path-service.ts
  common/src/interfaces/learning-content.ts
  frontend/Dockerfile
  frontend/package.json
  frontend/src/components/BrowseThemes.vue
  frontend/src/components/ButtonWithConfirmation.vue
  frontend/src/components/MenuBar.vue
  frontend/src/components/UsingQueryResult.vue
  frontend/src/controllers/base-controller.ts
  frontend/src/controllers/learning-objects.ts
  frontend/src/controllers/learning-paths.ts
  frontend/src/data-objects/learning-paths/learning-path-node.ts
  frontend/src/data-objects/learning-paths/learning-path.ts
  frontend/src/i18n/locale/de.json
  frontend/src/i18n/locale/en.json
  frontend/src/i18n/locale/fr.json
  frontend/src/i18n/locale/nl.json
  frontend/src/main.ts
  frontend/src/queries/learning-objects.ts
  frontend/src/queries/learning-paths.ts
  frontend/src/router/index.ts
  frontend/src/views/learning-paths/LearningPathPage.vue
  frontend/src/views/own-learning-content/OwnLearningContentPage.vue
  frontend/src/views/own-learning-content/learning-objects/LearningObjectPreviewCard.vue
  frontend/src/views/own-learning-content/learning-objects/LearningObjectUploadButton.vue
  frontend/src/views/own-learning-content/learning-objects/OwnLearningObjectsView.vue
  frontend/src/views/own-learning-content/learning-paths/LearningPathPreviewCard.vue
  frontend/src/views/own-learning-content/learning-paths/OwnLearningPathsView.vue
  frontend/tests/controllers/learning-objects-controller.test.ts
  frontend/tests/controllers/learning-paths-controller.test.ts
  frontend/vite.config.ts
  package-lock.json
Labels: enhancement, frontend, backend

#256 feat: Request caching
  backend/.env.example
  backend/.env.production.example
  backend/.env.staging
  backend/Dockerfile
  backend/package.json
  backend/src/caching.ts
  backend/src/logging/initalize.ts
  backend/src/services/learning-objects.ts
  backend/src/services/learning-objects/dwengo-api-learning-object-provider.ts
  backend/src/services/learning-paths/dwengo-api-learning-path-provider.ts
  backend/src/util/api-helper.ts
  backend/src/util/envVars.ts
  compose.production.yml
  compose.staging.yml
  package-lock.json
Labels: enhancement, backend, server

#261 chore: Testdata wordt geëxporteerd en gelinkt
  backend/.env.test
  backend/src/orm.ts
  backend/tests/controllers/answers.test.ts
  backend/tests/controllers/questions.test.ts
  backend/tests/controllers/students.test.ts
  backend/tests/controllers/teacher-invitations.test.ts
  backend/tests/controllers/teachers.test.ts
  backend/tests/data/assignments/assignments.test.ts
  backend/tests/data/assignments/groups.test.ts
  backend/tests/data/assignments/submissions.test.ts
  backend/tests/data/classes/class-join-request.test.ts
  backend/tests/data/classes/classes.test.ts
  backend/tests/data/classes/teacher-invitation.test.ts
  backend/tests/data/content/attachments.test.ts
  backend/tests/data/content/learning-object-repository.test.ts
  backend/tests/data/questions/answers.test.ts
  backend/tests/data/questions/questions.test.ts
  backend/tests/data/users/students.test.ts
  backend/tests/data/users/teachers.test.ts
  backend/tests/setup-tests.ts
  backend/tests/test_assets/assignments/assignments.testdata.ts
  backend/tests/test_assets/assignments/groups.testdata.ts
  backend/tests/test_assets/assignments/submission.testdata.ts
  backend/tests/test_assets/classes/class-join-requests.testdata.ts
  backend/tests/test_assets/classes/classes.testdata.ts
  backend/tests/test_assets/classes/teacher-invitations.testdata.ts
  backend/tests/test_assets/content/attachments.testdata.ts
  backend/tests/test_assets/content/learning-objects.testdata.ts
  backend/tests/test_assets/questions/answers.testdata.ts
  backend/tests/test_assets/questions/questions.testdata.ts
  backend/tests/test_assets/users/students.testdata.ts
  backend/tests/test_assets/users/teachers.testdata.ts
  backend/tool/seed.ts
  backend/tool/seedORM.ts
  backend/tool/startTestApp.ts
  frontend/src/controllers/answers.ts
  frontend/tests/controllers/answers-controller.test.ts
  frontend/tests/controllers/questions-controller.test.ts
  frontend/tests/controllers/student-controller.test.ts
  frontend/tests/controllers/submissions-controller.test.ts
  frontend/tests/setup-backend.ts
Labels: bug, tests

#281 fix: Ellipsis bevestigingsdialoog logout
  frontend/src/components/MenuBar.vue
Labels: bug, frontend

#284 fix: authorizatie in submissions gefixt
  backend/src/middleware/auth/checks/submission-checks.ts
  backend/src/routes/submissions.ts
Labels: bug

#280 feat: Assignments UI/UX
  backend/src/controllers/assignments.ts
  backend/src/controllers/teachers.ts
  backend/src/data/assignments/assignment-repository.ts
  backend/src/data/assignments/group-repository.ts
  backend/src/data/dwengo-entity-repository.ts
  backend/src/interfaces/assignment.ts
  backend/src/middleware/auth/checks/submission-checks.ts
  backend/src/routes/teachers.ts
  backend/src/services/assignments.ts
  backend/src/services/learning-paths/database-learning-path-provider.ts
  backend/src/services/students.ts
  backend/src/services/teachers.ts
  backend/tests/controllers/students.test.ts
  backend/tests/test_assets/assignments/groups.testdata.ts
  backend/tool/seedORM.ts
  common/src/interfaces/assignment.ts
  frontend/src/assets/assignment.css
  frontend/src/components/DwengoTable.vue
  frontend/src/components/GroupProgressRow.vue
  frontend/src/components/GroupSubmissionStatus.vue
  frontend/src/components/assignments/AssignmentCard.vue
  frontend/src/components/assignments/DeadlineSelector.vue
  frontend/src/components/assignments/GroupSelector.vue
  frontend/src/controllers/assignments.ts
  frontend/src/controllers/teachers.ts
  frontend/src/i18n/locale/de.json
  frontend/src/i18n/locale/en.json
  frontend/src/i18n/locale/fr.json
  frontend/src/i18n/locale/nl.json
  frontend/src/queries/assignments.ts
  frontend/src/queries/teachers.ts
  frontend/src/utils/assignment-rules.ts
  frontend/src/utils/assignment-utils.ts
  frontend/src/views/assignments/CreateAssignment.vue
  frontend/src/views/assignments/SingleAssignment.vue
  frontend/src/views/assignments/StudentAssignment.vue
  frontend/src/views/assignments/TeacherAssignment.vue
  frontend/src/views/assignments/UserAssignments.vue
  frontend/tests/controllers/classes-controller.test.ts
  frontend/tests/utils/array-utils.test.ts
  frontend/tests/utils/assignment-utils.test.ts
  frontend/tests/utils/assingment-rules.test.ts
Labels: enhancement, frontend

#269 feat: Discussions pagina's
  backend/src/controllers/learning-paths.ts
  backend/src/data/content/learning-path-repository.ts
  backend/src/data/questions/question-repository.ts
  backend/src/services/learning-paths/dwengo-api-learning-path-provider.ts
  backend/tests/services/learning-path/database-learning-path-provider.test.ts
  backend/tests/test_assets/content/learning-paths.testdata.ts
  common/src/util/match-mode.ts
  frontend/src/components/DiscussionSideBarElement.vue
  frontend/src/components/DiscussionsSideBar.vue
  frontend/src/components/MenuBar.vue
  frontend/src/components/QandA.vue
  frontend/src/components/QuestionBox.vue
  frontend/src/components/SingleQuestion.vue
  frontend/src/i18n/locale/de.json
  frontend/src/i18n/locale/en.json
  frontend/src/i18n/locale/fr.json
  frontend/src/i18n/locale/nl.json
  frontend/src/router/index.ts
  frontend/src/views/discussions/DiscussionForward.vue
  frontend/src/views/discussions/NoDiscussion.vue
  frontend/src/views/discussions/SingleDiscussion.vue
  frontend/src/views/learning-paths/LearningPathPage.vue
Labels: enhancement, frontend

#290 fix: Kleine verbeteringen omtrent eigen leerpaden
  frontend/src/views/own-learning-content/learning-paths/LearningPathPreviewCard.vue
Labels: bug, enhancement, frontend

#294 chore: Server voorbereiden op release v1.0.0
  compose.production.yml
  compose.yml
Labels: server

#286 extra: Discussions optimalisaties
  frontend/src/components/DiscussionSideBarElement.vue
  frontend/src/components/DiscussionsSideBar.vue
  frontend/src/views/discussions/SingleDiscussion.vue
Labels: frontend

#295 chore: `**/tests/` niet in docker container
  backend/Dockerfile
  frontend/Dockerfile
Labels: server
